In [1]:
import pythainlp
import numpy as np
import pandas as pd
import nltk
import re, string 
import spacy

from tqdm import tqdm
from spacy import displacy
from collections import Counter
from pprint import pprint
from py_translator import Translator

nlp = spacy.load('en_core_web_md')
translator = Translator()

In [2]:
def pos_en(text):
    translator = Translator()
    text = translator.translate(text).text
    text = nltk.tokenize.word_tokenize(text)
    text = nltk.tag.pos_tag(text)
    return text

def process_text(text):
    
    postags =  pos_en(text)
    nouns = []
    questions = []
    
    for w in postags: 
        
        # filter noun
        if w[1] in ['NN','NNS','NNP','NNPS']:
            nouns.append(w[0])
            
        # filter modal
#         print(w[0],w[1])
        if w[1] == "MD":
            questions.append('yes_no')
        
        # check question type
        ques_type = find_ques_type(w[0])
        if ques_type != 'none':
            questions.append(ques_type)
    
    result = {
        "nouns":nouns,
        "question type":questions
    }
    return result

def find_ques_type(text):
    text = text.lower()
    
    if text == 'where':
        return text
    if text == 'when':
        return text
    if text == 'why':
        return text
    if text == 'who':
        return text
    if text == 'whose':
        return text
    if text == 'which':
        return text
    if text == 'what':
        return text
    if text == 'how':
        return text
    return 'none'

In [3]:
text = 'จะไปเที่ยวกันไหม'
print(translator.translate(text).text)
print(process_text(text))

Will you go on a trip?
{'nouns': ['trip'], 'question type': ['yes_no']}

In [5]:
def experiment():
    df = pd.read_csv('./data/predicted-non-questions - question.csv',encoding='utf-8-sig')
    df = df.drop(['label'],axis = 1)

    df2 = pd.read_csv('./data/predited-questions - question and _0.75.csv',encoding='utf-8-sig')
    result = df.append(df2,ignore_index=True)
    
    eng_tokenize = []
    for w in tqdm(result['text']):

        # remove unwanted charater (emoji)
        pattern = re.compile(r"[^\u0E00-\u0E7Fa-zA-Z1-9 ]")
        w = pattern.sub('',w)

        result_of_text = process_text(w)
        keywords = result_of_text['nouns']
        keywords = ",".join(keywords)

        types = result_of_text['question type']
        # remove duplicate question type
        types = ",".join(list(set(types)))

        eng_tokenize.append({
            "text":w,
            "types":types,
            "keywords":keywords

        })

    return eng_tokenize

In [6]:
df = pd.read_csv('./data/english_words_in_zon.csv')
df

               word
0                 a
1                aa
2                ab
3               abc
4             abiky
5                ac
6              acai
7           account
8            accytu
9              acer
10         activity
11               ad
12              add
13          adddrop
14          addidas
15           adidas
16              adj
17            admin
18              ads
19           aduckk
20               ae
21            after
22              air
23          airline
24          airport
25              ais
26              aka
27             alan
28             alex
29            alife
...             ...
1349           xoxo
1350             xs
1351             xt
1352            xxx
1353           yaoi
1354         yatask
1355          yeezy
1356           yell
1357          yello
1358         yellow
1359     yellowtalk
1360           yelo
1361            yes
1362    yoryorstory
1363            you
1364        youtube
1365            ysl
1366             yy
1367         zamzon
1368           zico
1369         zlatan
1370            zon
1371          zoncu
1372           zone
1373         zonetu
1374       zonnnnnn
1375  zonofthebitch
1376          zontu
1377          zytec
1378             zz

[1379 rows x 1 columns]

In [43]:
from nltk.corpus import words

test = df['word']
final = []

for x in test:
    if x in words.words():
        final.append(x)

In [44]:
from nltk.corpus import words

nouns = []
for word in final:
    word = [word]
    result = nltk.tag.pos_tag(word)
    if result[0][1] in ['NN','NNS','NNP','NNPS'] and len(result[0][0])>2 :
        nouns.append(result[0][0])
print(len(nouns))

473

In [51]:
unwant_words = []
for word in df['word']:
    if word not in nouns:
        unwant_words.append(word)
        
print(len(unwant_words))

906
1379